<h2>Users list</h2>

<!-- simple solution without any table:
<p><%= @info_users %></p>
<br><br><br>
<p><%= @info_users_show %></p> -->

<!-- solution with table: -->
<table class="table">
	<tr>
		<td>aa</td>
		<td>bb</td>
	</tr>
	<tr>
		<td>cc</td>
		<td>dd</td>
	</tr>
	<tr>
		<td>ee</td>
		<td>ff</td>
	</tr>
</table>